<footer class="footer">
    <div class="cloud cloud-top"></div>

    <div class="container">
        <div>© 2020 Усадьба «Ветлужские холмы»</div>
        <div>
            <a href="javascript:void(0)">Правила проживания</a>
            <a href="javascript:void(0)">Договор оферта</a>
            <a href="javascript:void(0)">Политика конфиденциальности</a>
        </div>
        <div><img src="img/visa.svg" alt=""></div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>