<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head>
<body>

<header class="header">
  <div class="container">
    <h2 class="header__title">Усадьба <span class="orange">«Ветлужские холмы»</span></h2>
    <div class="menu">
      <a href="javascript:void(0)">Об усадьбе</a>
      <div class="menu__dropdown">
        <span>Размещение <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-dropdown"></use></svg></span>

        <div class="menu__content">
          <a href="javascript:void(0)">Дом Аиста</a>
          <a href="javascript:void(0)">Дом Ильича</a>
          <a href="javascript:void(0)">Правила усадьбы</a>
          <a href="javascript:void(0)">Акции</a>
        </div>
      </div>
      <div class="menu__dropdown">
        <span>Отдых и развлечения <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-dropdown"></use></svg></span>

        <div class="menu__content">
          <a href="javascript:void(0)" data-modal="book">Рыбалка на реке и озерах</a>
          <a href="javascript:void(0)" data-modal="aist">Культурно–исторические экскурсии</a>
          <a href="javascript:void(0)" data-modal="fish">Охота</a>
          <a href="javascript:void(0)">Настольный теннис</a>
          <a href="javascript:void(0)">Экспедиционные поездки</a>
          <a href="javascript:void(0)">Прогулки по лесу и берегу реки</a>
          <a href="javascript:void(0)">Отдых на пляже</a>
          <a href="javascript:void(0)">Прогулки на лодках</a>
          <a href="javascript:void(0)">Зона барбекю</a>
          <a href="javascript:void(0)">Баня</a>
        </div>
      </div>
      <a href="javascript:void(0)">Контакты</a>
    </div>
  </div>
</header>