@charset 'UTF-8';
@import 'mixins';

$trans: all .2s ease-in-out;
$orange: #FF8730;
$philosopher: 'Philosopher', sans-serif;

// @include font-face('fontName', '../fonts/fontPath/fontName', normal); 

body {
	color: #44342B;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}

.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: inherit;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
	margin-top: 0;
}

h1 {
	font-size: 40px;
	font-family: $philosopher;
	margin-bottom: 17px;
}

h2 {
	font-size: 30px;
	font-family: $philosopher;
}

h3 {
	font-size: 24px;
	font-family: $philosopher;
}

.btn,
input,
textarea,
select,
button:focus {
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
select,
textarea {
	background: #F3F4F9;
	border-radius: 5px;
	border: 0;
	padding: 13px 20px;
	width: 100%;
	appearance: none;

	&::placeholder {
		color: #8A95A1;
	}
}

input.count {
	text-align: center;
}

input[type="checkbox"] {
	display: none;

	&:checked + label::before {
		background: url('../img/icons/checkbox.svg') no-repeat center $orange;
		background-size: 16px;
	}

	& + label {
		position: relative;
		color: #8A95A1;
		font-weight: normal;
		text-transform: initial;
		font-size: 16px;
		padding-left: 25px;
		margin: 0;
		cursor: pointer;

		&::before {
			content: '';
			width: 18px;
			height: 18px;
			background: #F3F4F9;
			border-radius: 5px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
	}
}

.btn {
	display: inline-block;
	transition: $trans;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	background: linear-gradient(180deg, #FCBF30 0%, #FF8730 100%);
	border-radius: 10px;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	padding: 21px 51px;

	&:focus {
		outline: none;
	}

	&:hover {
		box-shadow: 0 0 20px rgba($orange, 0.5);
	}
}

.container {
	@include r(1200) {
		padding: 0 20px;
	}

	margin: 0 auto;
	max-width: 1160px;
}

.orange {
	color: $orange;
}

.header {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
	z-index: 1;
	padding: 26px 0;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.menu {
	display: flex;
	align-items: center;

	& > * {
		margin: 0 18px;
		position: relative;
		transition: $trans;

		&:hover {
			color: #787878;

			.icon {
				fill: #787878;
			}
		}
	}

	.icon {
		font-size: 4px;
		transition: $trans;
	}

	&__dropdown {
		cursor: pointer;

		&.active {
			.icon {
				transform: rotate(180deg);
				fill: $orange;
			}

			span {
				color: $orange;
			}

			.menu__content {
				bottom: -10px;
				pointer-events: all;
				user-select: initial;
				opacity: 1;

				a:hover {
					color: $orange;
				}
			}
		}

		span {
			transition: $trans;
		}
	}

	&__content {
		position: absolute;
		bottom: -50px;
		left: 50%;
		transform: translateX(-50%) translateY(100%);
		background: #FFFEFA;
		box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		padding: 20px 25px;
		transition: $trans;
		pointer-events: none;
		user-select: none;
		opacity: 0;

		a {
			display: block;
			white-space: nowrap;
			margin-bottom: 10px;
			font-size: 14px;
			transition: $trans;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.main {
	height: 113vh;
	background: url('../img/main.jpg') no-repeat center;
	background-size: cover;

	.container {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		height: 100%;
		color: #fff;
		padding-bottom: 19.5%;
		padding-left: 59px;
	}
}

.cloud {
	background: url('../img/cloud.png') no-repeat center;
	background-size: cover;
	position: absolute;
	left: 0;
	right: 0;
	padding-bottom: 35%;
	pointer-events: none;
	user-select: none;
	z-index: 1;

	&-top {
		top: 0;
		transform: translateY(-50%);
	}

	&-bottom {
		bottom: 0;
		transform: translateY(50%);
	}

	&.content {
		display: flex;
		align-items: center;
		padding: 0;
		height: 575px;

		div {
			width: 100%;
			text-align: center;

			h1 {
				color: $orange;
			}

			p {
				font-family: $philosopher;
			}
		}
	}
}

.about {
	background: url('../img/about.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	padding-top: 7%;
	height: 2000px;

	.container {
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 22%;
	}

	&__content {
		margin: 11.5% 26% 0;

		.border {
			width: 375px;
			margin-bottom: 30px;
		}

		a {
			color: $orange;
			border-bottom: 1px solid;

			&:hover {
				border: 0;
			}
		}

		h1 {
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 13px;
			line-height: 1.4;
		}

		&-bottom {
			color: #fff;
		}
	}
}

.lines {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -36px;
		left: -134px;
		width: 120px;
		height: 71px;
		background: url('../img/lines.png') no-repeat center;
		background-size: contain;
	}
}

.features {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;

	&__item {
		display: flex;

		p {
			strong {
				font-family: $philosopher;
				font-size: 24px;
			}
		}
	}

	&__icon {
		width: 26px;
		height: 26px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(152.38deg, #FCBF30 14.59%, #FF8730 85.9%);
		box-shadow: 0px 5px 35px rgba(255, 193, 32, 0.5);
		border-radius: 50%;
		position: relative;
		margin-right: 16px;
		flex-shrink: 0;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 31px;
			height: 31px;
			border-radius: 50%;
			border: 0.5px solid #F16F13;
		}

		.icon {
			fill: #fff;
			font-size: 7px;
			opacity: 0.5;
		}
	}
}

.border {
	border: 1px solid rgba(255, 135, 48, 0.5);
	border-radius: 10px;
	padding: 12px 15px;
}

.house {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	&.aist {
		height: 2950px;
	}

	&.ilich {
		height: 1567px;

		.container {
			padding-bottom: 20%;
		}
	}

	.container {
		height: 100%;
		padding-top: 16%;
		padding-bottom: 33%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.bottom {
			padding: 0 8.4%;
		}
	}

	.btn {
		margin-bottom: 39px;
	}

	&__desc {
		line-height: 1.2;
		margin-bottom: 32px;
	}

	&__features {
		display: flex;
		align-items: flex-end;

		.border {
			width: 315px;
			margin-right: 90px;
			flex-shrink: 0;

			span {
				font-weight: bold;
				color: $orange;
				font-size: 40px;
				display: block;
				font-family: $philosopher;
			}
		}

		.features {
			display: block;

			&__item {
				margin-bottom: 22px;
				align-items: center;

				&:last-child {
					margin-bottom: 0;
				}

				p {
					margin: 0;
				}
			}
		}
	}

	&__title {
		text-align: center;
		margin-top: 17%;

		p {
			margin: 0;
			font-family: $philosopher;
		}
	}

	&__item {
		color: #fff;
		display: flex;

		.left {
			width: 38%;
			margin-right: 115px;
		}

		.right {
			width: 70%;
			padding-top: 66px;
		}

		.swiper-container {
			border-radius: 10px;

			.swiper-slide {
				width: 362px;
				height: 208px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				cursor: pointer;
			}
		}
	}

	&__slider {
		position: relative;
	}

	&__floor {
		padding: 18px 28px;
		background: rgba(255, 255, 255, 0.01);
		border: 1px solid #FFFFFF;
		border-radius: 10px;
		margin-bottom: 23px;

		&:last-child {
			margin-bottom: 0;
		}

		h3 {
			margin-bottom: 15px;
		}

		.flex {
			display: flex;
			margin-bottom: 14px;

			&:last-child {
				margin-bottom: 0;
			}

			& > div:first-child {
				width: 163px;
    			flex-shrink: 0;
			}
		}
	}
}

.swiper-button {
	&-next,
	&-prev {
		&::after {
			display: none;
		}

		&:focus {
			outline: none;
		}

		width: 30px;
		height: 30px;
		background: linear-gradient(180deg, #FCBF30 0%, #FF8730 100%);
		border-radius: 50%;
		top: 53%;
	}

	&-next {
		right: -40px;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			background: url('../img/icons/arrow-right.svg') no-repeat center;
			background-size: 7px;
		}
	}

	&-prev {
		left: -40px;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			background: url('../img/icons/arrow-left.svg') no-repeat center;
			background-size: 7px;
		}
	}
}

.swiper-pagination {
	width: 100%;
	padding: 19px 0;

	&-bullet {
		background: #EBEBEB;
		width: 10px;
		height: 10px;
		opacity: 1;
		margin: 0 7px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			border: 1px solid #EBEBEB;
			width: 0;
			height: 0;
			transition: width .2s ease-in-out, height .2s ease-in-out;
		}

		&-active {
			background: $orange;

			&::before {
				width: 19px;
				height: 19px;
				border-color: $orange;
			}
		}
	}
}

.services {
	background: url('../img/features.jpg') no-repeat center;
	background-size: cover;
	color: #fff;
	position: relative;

	.container {
		height: 100%;
		padding-top: 22%;
		padding-bottom: 22%;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}

		& > div {
			width: 50%;

			&:first-child {
				margin-right: 20px;
			}

			&:last-child {
				margin-left: 20px;
			}
		}
	}

	&__item {
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 10px;
		padding: 49px 54px;
		position: relative;
	}

	&__icon {
		position: absolute;
		top: -21px;
		left: 50%;
		transform: translateX(-50%);
		width: 40px;
		height: 40px;
		background: linear-gradient(180deg, #FCBF30 0%, #FF8730 100%);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;

		.icon {
			font-size: 8px;
			fill: #fff;
		}
	}

	&__name {
		color: $orange;
	}

	&__desc {
		line-height: 1.2;
	}
}

.book {
	position: relative;
	z-index: 2;
	background: #fff;
	
	.container {
		border: 1px solid rgba(255, 135, 48, 0.5);
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 43px 49px;

		h2 {
			margin-bottom: 0;
		}
	}
}

.sale {
	position: relative;
	z-index: 2;
	padding: 114px 0;

	h1 {
		text-align: center;
		margin-bottom: 59px;
	}

	.flex {
		display: flex;
		justify-content: space-between;
		margin: 0 -20px;
	}

	&__item {
		width: 100%;
		margin: 0 20px;
		cursor: pointer;

		&:hover {
			.sale__icon {
				opacity: 1;
			}
		}
	}

	&__photo {
		width: 100%;
		height: 239px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 10px;
		margin-bottom: 24px;
		box-shadow: 0px 20px 55px rgba(0, 0, 0, 0.15);
		position: relative;
	}

	strong {
		display: block;
		margin-bottom: 11px;
	}

	&__icon {
		width: 26px;
		height: 26px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(152.38deg, #FCBF30 14.59%, #FF8730 85.9%);
		box-shadow: 0px 5px 35px rgba(255, 193, 32, 0.5);
		border-radius: 50%;
		position: absolute;
		margin-right: 16px;
		flex-shrink: 0;
		right: 0;
		top: 15px;
		opacity: 0;
		transition: $trans;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 31px;
			height: 31px;
			border-radius: 50%;
			border: 0.5px solid #F16F13;
		}

		.icon {
			fill: #fff;
			font-size: 7px;
			opacity: 0.5;
		}
	}
}

.instagram {
	padding: 6px 0;

	h1 {
		text-align: center;
		margin-bottom: 26px;
	}

	a {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		display: inline-block;
		border-radius: 10px;
		border: 1px solid $orange;
		padding: 8px 5px;
		font-weight: bold;
		font-size: 20px;
		transition: $trans;
		margin-bottom: 23px;

		&:hover {
			color: #fff;
			background: $orange;
		}
	}

	.flex {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
	}

	&__item {
		width: calc(25% - 40px);
		margin: 20px 20px;
		height: 260px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}

.contacts {
	position: relative;
	padding-top: 6%;
    padding-bottom: 4%;

	.container {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 2;

		& > div {
			width: 50%;
		}
	}

	a {
		color: $orange;
		text-decoration: underline;
		display: inline-block;
		margin-top: 20px;

		&:hover {
			text-decoration: none;
		}

		&.tel {
			display: inline;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.map {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 746px;
}

.footer {
	padding: 5% 0 40px;
	position: relative;
	margin-top: 26px;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;
		z-index: 2;
	}

	a {
		display: block;
		margin-bottom: 9px;
		transition: $trans;

		&:hover {
			color: $orange;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	opacity: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	transition: $trans;

	&.active {
		opacity: 1;
		z-index: 11;
	}
}

.modal {
	@include r(767) {
		min-width: auto;
		width: 95%;
	}

	opacity: 0;
	background: #fff;
	cursor: default;
	position: relative;
    border-radius: 10px;
	width: 560px;
	max-height: 90vh;
    overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}

	&.active {
		display: block !important;
		opacity: 1;
	}

	&.init {
		display: none;
	}

	&[data-modal="book"] {
		strong {
			text-transform: uppercase;
			font-size: 12px;
			display: block;
			margin-bottom: 10px;
		}

		.flex {
			display: flex;
			justify-content: space-between;

			& > div {
				width: 50%;
				cursor: pointer;
				position: relative;
				transition: $trans;
				border-radius: 10px;

				.sale__icon {
					width: 20px;
					height: 20px;

					&::before {
						width: 26px;
						height: 26px;
					}

					svg {
						font-size: 5px;
					}
				}

				&:hover {
					box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);

					.sale__icon {
						opacity: 1;
					}
				}

				&:first-child {
					margin-right: 10px;
				}

				&:last-child {
					margin-left: 10px;
				}
			}
		}

		.photo {
			height: 147px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			border-radius: 10px 10px 0 0;
		}

		.info {
			border-left: 1px solid #F0F0F0;
			border-right: 1px solid #F0F0F0;
			border-bottom: 1px solid #F0F0F0;
			border-radius: 0 0 10px 10px;
			padding: 14px 21px;
		}

		.name {
			margin-bottom: 12px;
		}

		.price {
			color: $orange;
			font-family: $philosopher;
			font-weight: bold;
			font-size: 18px;
		}

		span {
			color: rgba(0, 0, 0, 0.5);
			font-size: 12px;
			line-height: 1.2;
			display: block;
			margin-top: 30px;

			a {
				color: $orange;
				font-weight: bold;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&[data-modal="aist"] {
		.total {
			.days {
				display: flex;
				align-items: center;
				justify-content: space-between;
				color: #8A95A1;
				margin-bottom: 18px;

				span:last-child {
					font-weight: bold;
					text-align: right;
				}
			}

			.price {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 18px;

				span:last-child {
					font-weight: bold;
					text-align: right;
					font-size: 24px;
				}
			}

			label {
				font-size: 12px;

				a {
					color: $orange;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		button {
			width: 100%;
		}
	}

	&__header {
		padding: 40px 60px 0;
		text-align: center;
		font-family: $philosopher;

		&.left {
			text-align: left;
		}
	}

	&__title {
		margin: 0;

		a {
			border: 1px solid #F3F4F9;
			border-radius: 5px;
			font-size: 8px;
			text-transform: uppercase;
			color: #8A95A1;
			display: inline-block;
			padding: 5px 8px;
			line-height: 1.3;
			font-family: 'Inter', sans-serif;
			font-weight: normal;
			transition: $trans;

			&:hover {
				background: #8A95A1;
				color: #fff;
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
		
		&.hide {
			display: none;

			& > * {
				align-self: flex-end;
			}
		}

		.modal__col {
			width: 50%;
			margin-bottom: 0;
	
			&:first-child {
				margin-right: 10px;
			}
	
			&:last-child {
				margin-left: 10px;
			}
		}

		button {
			width: 50% !important;
			text-align: center;
			align-self: flex-end;
			padding: 12px 0;
			border-radius: 5px;
		}
	}

	&__col {
		width: 100%;
		margin-bottom: 20px;

		label {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
			display: block;
			margin-bottom: 7px;
		}
	}

	&__question {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.05);
		position: absolute;
		right: 5px;
		top: 5px;

		&:hover .content {
			opacity: 1;
		}

		svg {
			fill: #44342B !important;
			font-size: 5px !important;
			position: static !important; 
			transform: none !important;
		}

		.content {
			position: absolute;
			right: 0;
			top: 0;
			transform: translateX(100%);
			z-index: 2;
			background: #FFFEFA;
			box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			font-size: 12px;
			white-space: nowrap;
			padding: 20px;
			pointer-events: none;
			user-select: none;
			opacity: 0;
			transition: $trans;

			&.left {
				transform: translateX(-100%);
				right: initial;
				left: 0;
			}
		}
	}

	.form-group {
		position: relative;

		svg {
			fill: $orange;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 11px;
		}

		select + svg {
			fill: #8A95A1;
			font-size: 5px;
		}

		.plus,
		.minus {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: #8A95A1;
			font-size: 36px;
			font-weight: 200;
			cursor: pointer;
			user-select: none;
		}

		.plus {
			right: 20px;
			top: 45%;
		}

		.minus {
			top: 47%;
			left: 20px;
		}
	}

	.divider {
		width: 100%;
		height: 1px;
		background: #DDDDDD;
		margin: 20px 0;
	}
	
	&__body {
		padding: 25px 50px 50px;

		form {
			display: flex;
			flex-direction: column;

			input,
			button {
				width: 100%;
			}

			input {
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__close {
		position: absolute;
		right: 15px;
		top: 13px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		transition: $trans;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1px;
			height: 100%;
			background: #777;
		}

		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&__slider {
		position: relative;
		margin-top: 20px;
	}

	.swiper-container {
		.swiper-slide {
			height: 260px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}